.about-section {
  padding-top: 10rem;
  background: #0a192f;
  p {
    margin-bottom: 5rem;
  }
  .tech-section {
    padding: 0 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
    color: rgb(255 255 255 / 50%);
    .tech-list {
      text-align: left;
    }
  }
}
